<ion-content [fullscreen]="true" scrollY="false">
  <div>
    <ion-header class="ion-no-border " mode="ios" #header style="position: fixed;">
      <ion-toolbar class="ion-no-padding  ion-padding-top " style="    padding-top: 10px;">
        <ion-row class="ion-no-padding" style="width:100%">
          <ion-col size="3" class="ion-no-padding ion-padding-left ion-text-center d-flex menu-wrapper">
            <ion-icon name="menu-outline" class="ion-margin-left"></ion-icon>
          </ion-col>
          <ion-col size="6" class="ion-text-center d-flex ion-no-padding">
            <ion-title>ConnectView</ion-title>
          </ion-col>
          <ion-col size="3" class="ion-no-padding ion-padding-right ion-text-center d-flex cam-wrapper">
            <ion-icon name="camera-outline" class="ion-margin-right"></ion-icon>
          </ion-col>
          <ion-col class="ion-no-padding">
            <div class="tabs ion-padding ">
              <ion-segment [(ngModel)]="pageView" (ionChange)="segmentChange($event)" mode="ios"
                style="position: relative;">
                <!-- <ion-segment-button value="camera" style="    max-width:20px;">
                  <ion-icon name="camera-outline"></ion-icon>
                </ion-segment-button> -->
                <ion-segment-button value="chats">
                  <ion-label>Chats</ion-label>
                </ion-segment-button>
                <ion-segment-button value="status">
                  <ion-label>Status</ion-label>
                </ion-segment-button>
                <ion-segment-button value="calls" style="position: relative;">
                  <ion-label>
                    Calls
                    <ion-badge style="position: absolute;     right: -5px;
                    top: 0px;
                    background: #feacac8c;
                    color: #feacac;" slot="end">0</ion-badge>
                  </ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>

  <ion-list #scrolllist *ngIf="pageView=='chats'" (scroll)="onContentScroll($event)" class="animateMove"
    [ngStyle]="!isAdjustScreen ? {'padding-top': '125px'} :{'padding-top': '63px'} ">
    <app-chat></app-chat>
  </ion-list>
  <ion-list #scrolllist *ngIf="pageView=='status'" (scroll)="onContentScroll($event)" class="animateMove"
    [ngStyle]="!isAdjustScreen ? {'padding-top': '125px'} :{'padding-top': '63px'} ">
    <app-status></app-status>
  </ion-list>
  <ion-list #scrolllist *ngIf="pageView=='calls'" (scroll)="onContentScroll($event)" class="animateMove"
    [ngStyle]="!isAdjustScreen ? {'padding-top': '125px'} :{'padding-top': '63px'} ">
    <app-calls></app-calls>
  </ion-list>

  <ion-fab *ngIf="pageView === 'chats'" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="chat-fab" style="height: 35px;width: 50px;">
      <ion-icon name="add" class="add-icon"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" style="margin: 0px 0px 50px 0px;">
      <ion-fab-button id="open-modal">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/new-chats">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="backToTop" (click)="gotToTop()">
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-modal trigger="open-modal">
    <ng-template>
      <app-new-chats></app-new-chats>
    </ng-template>
  </ion-modal>
</ion-content>